{
  "serverDomain" : "PLACEHOLDER", # EDIT HERE
  "workerThreads" : 10,
  "eventCapture": {
      "localAddress" : [ "00.00.**.**" ], # EDIT HERE
      "publicAddress" : "00.00.**.**", # EDIT HERE
      "http": {
         "ports" : 3380
       },
      "https": {
          "ports" : 33443
      },
      "smtp": {
          "ports" : [3325, 33587]
      },
      "smtps": {
          "ports" : 33465
      }
  },

  "polling" : {
      "localAddress" :  "00.00.**.**", # EDIT HERE
      "publicAddress" :  "00.00.**.**", # EDIT HERE
      "http": {
          "port" : 39090
      },
      "https": {
          "port" : 39443
      }
  },
  "metrics": {
      "path" : "jnaicmez8",
      "addressWhitelist" : ["0.0.0.0/1"]
  },
  "dns": {
      "interfaces" : [{
          "name":"PLACEHOLDER", # EDIT HERE
          "localAddress":"00.00.**.**", # EDIT HERE
          "publicAddress":"00.00.**.**" # EDIT HERE
      }],
      "ports" : 3353
   },
   "logLevel" : "INFO"
}